body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A1D;
}

.cardService {
  background-color: #1A1A1D;
  border: solid 1px  #363636;
}

.bio, .skill {
  background-color: #3636363e;
}

#navbar {
   background-color: #3d3d3d;
}

#navtext {
  font-size: 20px;
}


#introText, #introText1, .cardServiceTitle, .titleServices {
  color: #C3073F;
}

#cv {
  background-color: #C3073F;
}

#introText, #intro, .titleServices {
  font-family: 'League Spartan', sans-serif;
  font-size: 50px;
}

.bioTitle
{
  font-family: 'League Spartan', sans-serif;
  color: #C3073F;
  font-size: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#partten 
{
  width: auto;
  height: 100%;
  background: url('Components/Images/Partten.png') no-repeat;
  background-size: contain;
}

#user {
  background-size: contain;
  width: auto;
  height: 100%;
}


.timeline {
  border-left: 1px solid #C3073F;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #C3073F;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

