body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A1D;
}

.cardService {
  background-color: #1A1A1D;
  border: solid 1px  #363636;
}

.bio, .skill, .projects{
  background-color: #3636363e;
}

#navbar {
   background-color: #3d3d3d;
}

#navtext {
  font-size: 20px;
}


#introText, #introText1, .cardServiceTitle, .titleServices {
  color: #C3073F;
}

#cv {
  background-color: #C3073F;
}

#introText, #intro, .titleServices {
  font-family: 'League Spartan', sans-serif;
  font-size: 50px;
}

.bioTitle
{
  font-family: 'League Spartan', sans-serif;
  color: #C3073F;
  font-size: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#partten 
{
  width: auto;
  height: 100%;
  background: url('Components/Images/Partten.png') no-repeat;
  background-size: contain;
}

#user {
  background-size: contain;
  width: auto;
  height: 100%;
}


.timeline {
  border-left: 1px solid #C3073F;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #C3073F;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}




#pills-home-tab.active   {
  color: #C3073F;
  background-color: transparent;
}

#pills-profile-tab.active   {
  color: #C3073F;
  background-color: transparent;
}

#pills-contact-tab.active   {
  color: #C3073F;
  background-color: transparent;
}



#pills-home-tab, #pills-profile-tab, #pills-contact-tab {
  color: #5d5d5d;
}




#project-card, #modal-projects {

  background-color: #4b4b4b;

}


#design-title {
  color: #C3073F;
}


video {
  width: 100%;
  height: auto;
}

#mobile {
  width: 20%;
  height: auto;
}

#mobile1 {
  width: 90%;
  height: auto;
}

#service-img
{
  height: auto;
  width: 60%;
}

#skill-img {
  height: auto;
  width: 40%;
}


#loading 
{
  background-color: #000000;
  height: 710px;
}

#logo {
  width: 8%;
  height: auto;
}

Link{
  text-decoration: none;
}